@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/*== Default ==*/

:root {
  --primary: #02aeee;
  --secondary: #c83200;
  --neutral: #dee4f0;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

body {
  font-family: "Roboto", sans-serif;
}

/*== Auth section ===*/
.auth_page {
  @apply w-full h-screen flex items-center justify-center px-5 bg-neutral;
}

.auth_page button {
  @apply bg-primary text-white w-full rounded mt-5 py-2 uppercase tracking-wider font-medium transition ease-in-out duration-300 hover:opacity-70;
}

.form-group {
  @apply w-full;
}

.form-group label {
  @apply block pb-1;
}

.form-group input {
  @apply w-full border border-slate-300 pl-2 pr-10 py-2 rounded-md placeholder:text-sm text-sm focus:outline-none;
}
